{% extends "base.html" %}

{% block title %}
    ChessAI - Online Chess Game
{% endblock %}

{% block content %}
<h3 style="margin:auto; width:100%; text-align:center">ChessAI - Online Chess Game</h3>

<br>
<br>
    <!-- Button redirecting to an About Us page (not in use for the moment) -->
    <p style="width:50%; margin:auto">
        <a href="/" class="btn btn-primary" role="button" style="color:white; width:100%">About Us</a>
    </p>
<br>

    <!-- Button redirecting to the page where a user can create a game code or input an already existing one -->
    <p style="margin:auto; width:50%">
        <a href="create_put_code" class="btn btn-primary" role="button" style="color:white; width:100%">Play a Friend</a>
    </p>
<br>

    <!-- Button redirecting to the game board where the user can play against a pre-trained AI model -->
    <p style="margin:auto; width:50%">
        <a href="/" class="btn btn-primary" role="button" style="color:white; width:100%">Play vs AI</a>
    </p>
<br>

    <!-- Button redirecting to the login page (which logs out the current user) -->
    <p style="margin:auto; width:50%">
        <a href="log_in" class="btn btn-primary" role="button" style="color:white; width:100%">Log Out</a>
    </p>

{% endblock %}
